.wel{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding: 15px;
    font-size: 18px;
}
.pera{
    padding: 5px;
}

.wel span{
    color: rgb(13, 0, 255);
    font-style: italic;
}

.para2{
    background: #c6c6c635;
   padding: 5px 10px;
   border-radius: 10px;
   font-style: italic;
   align-items: center;
   
}
.form{
    width: 600px;
    margin: 40px auto;
    font-size: 20px;
}
.lab{
    padding-right: 7px;
    
   
}
.lab2{
    padding-right: 7px;
    padding-left: 40px;
   
}
.buts2{
   
    padding-top: 15px;
}
.but2{
    padding: 4px 6px;
    font-size: 17px;
    background: #a4000096;
    border: 0;
    color: white;
    border-radius: 4px;
}
.inp{
    padding: 5px;
   
}
.show{
    width: 600px;
    margin: auto;
    display: flex;
}
.img{
    width: 120px;
    border-radius: 10%;
}
.sec{
    flex-direction: column;
    padding: 20px;
    font-size: 20px;
}
.na{
    padding-bottom: 7px;
}
.em span{
    font-weight: bold;
}
.na span{
    font-weight: bold;
}
.profile{
    font-size: 22px;
    color: #700000;
    font-weight: bold;
   
}
.prof{
    width: 600px;
    margin: auto;
    border-bottom: 1px solid #000;
    margin-bottom: 15px;
    padding-bottom: 5px;
}
.verify{
    padding: 10px;
    
}
.but3{
    width: 100px;
    margin: auto;
}
.para3{
    display: flex;

}
.but4{
    padding: 4px 10px;
    font-size: 17px;
    background: #bc0000;
    color: white;
    border: 0;
    border-radius: 5px;
    margin-left: 15px;
    cursor: pointer;
}